*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	font-family:microsoft yahei; 
	font-size:12px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	-ms-user-select:none;
}
.clearfix::after{
	content:"";
	display:block;
	clear:both;
}
/*页头*/
.header{
	width: 100%;
	height: 50px;
	padding: 10px 0;
	min-width:1000px;
}
.headerInner{
	height: 100%;
	padding: 0 100px;
}
.logo{
	float: left;
	width: 300px;
	height: 30px;
	margin: 10px 0;
}
.logo a{
	display: block;
	height: 100%;
}
.logo a img{
	float: left;
}
.languageAndSearch{
	float:right;
}
.languageAndSearch ul li{
	display:inline-block;
}
.languageAndSearch ul li a{
	padding-right:5px;
	line-height:30px;
	text-align:center;
	color:#ccc;
}
.chinese{
	border-right: 1px solid #ddd;
}
.search{
	border: 1px solid #ccc;
}
.search form{
	height: 20px;
	position: relative;
}
.search input{
	border:0;
}
.search input[type="text"]{
	float: left;
	height: 16px;
	padding: 2px 5px;
}
.search input[type="submit"]{
	width: 20px;
	height: 20px;
	background: white;
	cursor: pointer;
}
.search i{
	position: absolute;
	top: 4px;
	right: 5px;
}
/*nav*/

.nav{
	position:relative;
	float:left;
	width:100%;
	min-width:1000px;
	height:40px;
	background:#07c;
}
.nav ul{
	position:absolute;
	left:10%;
	margin:0 auto;
}
.nav ul li{
	float:left;
	
}
.nav a{
	display:block;
	width:100%;
	margin:0 10px;
	color:white;
	text-align:center;
	line-height:40px;
}
.nav a:hover{
	color:white;
	background:#3fbfef;
	
}
/*big-images*/
.big-images{
	overflow:hidden;
	position:relative;
	margin:0 auto;
	width:1263px;
	height:484px;	
}
.big-images a {
	width:1263px;
	height:484px;
}
#list{
	position:absolute;
	width:8955px;
	height:484px;
	z-index:1;
}

#prev{
	position:absolute;
	top:50%;
	left:0;
}
#next{
	position:absolute;
	top:50%;
	right:0;
}
.big-images .arrow{
	display:none;
	width:40px;
	height:40px;
	cursor:pointer;
	text-align:center;
	line-height:40px;
	font-size:40px;
	color:#fff;
	background:rgba(0,0,0,0.2);
	z-index:2;
}
.big-images:hover .arrow{  
	display:block;
}
.arrow:hover{
	background:rgba(0,0,0,0.5);
}
#buttons{
	position:absolute;
	top:460px;
	cursor:pointer;
	right:100px;
	z-index:4;
}
#buttons span{
	display:inline-block;
	margin-right:5px;
	width:10px;
	height:10px;
	background:#333;
	border:1px solid #fff;
	border-radius:50%
}
#buttons .on{
	background:orangered;
}
/*news*/
.news{
	width:1000px;
	margin:20px auto 0;
}
.group-news{
	float:left;
	width:475px;
	margin-right:50px;
	margin-top:10px;
}
.product-news{
	float:left;
	width:475px;
	margin-top:10px;
}
.news h2{
	display:inline-block;
	font-size:16px;
}
.news div a{
	float:right;
}
.news ul{
	padding:10px;
	border:1px solid #ccc;
}
.news li{
	height:20px;
}
.news ul li a{
	display:block;
	float:left;
	position:relative;
	color:#888;
	line-height:20px;
}
.news ul li a:before{
	position:absolute;
	left:-8px;
	top:5px;
	content:"";
	display:block;
	border-left:5px solid #ccc;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
}

.news ul li a:hover{
	color:#c2c;
}
.news ul li p{
	float:right;
	color:#aaa;
}
.news span{
	color:#888;
}
.more{
	color:black;
	background:#ddd;
	border:1px solid #eee;
	border-radius:6px;
}
.more:hover{
	color:red;
}
/*hot*/
.hot{
	float:left;
	width:100%;
}
	

.hot-header{
	width:1000px;
	margin:40px auto 0;
	border-bottom:1px dotted #ccc;
}
.hot h2{
	display:inline-block;
	height:20px;
	font-size:16px;
}
.hot-header span{
	color:#888;
}
.hot a{
	display:block;
	width:205px;
	height:205px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	border:5px solid transparent;
	/*此处也可使用和背景颜色相同的颜色将transparent替换为#fff，不过只能运用于纯色背景，不推荐使用*/

}
.hot a:hover{
	border:0;
	
}
.hot ul{
	width:1000px;
	margin:0 auto 20px;
}
.hot li{
	position:relative;
	float:left;
	width:205px;
	margin:0 22px;
}
.hot li span{
	display:block;
	position:absolute;
	left:50%;
	bottom:0;
	margin-left:-20px;
}
/*firends-link*/
.firends-link{
	float:left;
	width:100%;
}
.firends-link ul{
	width:980px;
	margin:0 auto;
}
.firends-link li{
	float:left;
}

.store{
	display:block;
	width:490px;
	height:175px;
}
.cookai{
	display:block;
	width:474px;
	height:175px;
	margin-left:16px;
} 
.firends-link a{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	border:5px solid transparent;
	
}
.firends-link a:hover{
	box-shadow:10px 10px 8px #888;
	border:0;
}
/*footer*/
.footer{
	float:left;
	width:100%;
	min-width:1000px;
	margin-top:40px;
	background:#07c;
}
.footer a,.footer p{
	color:white;
	line-height:71px;
}

.footer p{
	display:inline-block;
}
.xin{
	float:left;
	width:90px;
	height:33px;
	margin:18px 10px 0 40px ;
	background:url(../images/xin.png)
}
.right{
	float:right;
}
.footer ul,.footer li,select,.left{
	float:left;
}
.footer ul li{
	margin:0 5px;
}
select{
	margin:25px 20px 0 0;
}
