*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: microsoft yahei; 
	font-size: 12px;
}
.clearfix::after{
	content:"";
	display:block;
	clear:both;
}
img{
	border-style: none;
}
body{
	min-width: 1000px;
}
img,#slideArrow i,#slideBox{
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	-ms-user-select:none;
}
.nav > ul > li > a,.introduce,.products,.slideArrow i,.hot a,.firends-link a{
	trtransition: all 0.5s;
	-moz-transition: all 0.5s; /* Firefox 4 */
	-webkit-transition: all 0.5s; /* Safari 和 Chrome */
	-o-transition: all 0.5s; /* Opera */
}
.logo,.logo a img,.left,.right ul,.right ul li,select{
	float: left;
}
.langAndSearch,.right{
	float: right;
}
/*页头*/
.header{
	width: 100%;
	height: 50px;
	padding: 10px 0;
	min-width:1000px;
}
.headerInner{
	height: 100%;
	padding: 0 100px;
}
.logo{
	width: 300px;
	height: 30px;
	margin: 10px 0;
}
.logo a{
	display: block;
	height: 100%;
}
.lang{
	height: 25px;
}
.lang a{
	float: left;
	padding: 2px 5px;
	line-height: 20px;
	color: #ccc;
}
.lang a:first-child{
	color: #666;
}
.search{
	border: 1px solid #ccc;
}
.search form{
	height: 20px;
	position: relative;
}
.search input{
	border:0;
}
.search input[type="text"]{
	float: left;
	height: 16px;
	padding: 2px 5px;
}
.search input[type="submit"]{
	width: 20px;
	height: 20px;
	background: white;
	cursor: pointer;
}
.search i{
	position: absolute;
	top: 4px;
	right: 5px;
}
/*nav*/
.nav{
	height: 40px;
	background: #07c;
}
.nav > ul{
	height: 40px;
	margin-left: 100px;
}
.nav > ul > li,.introList,.nav .products>ul>li{
	float:left;
}
.nav > ul > li > a,.introList a,.nav .products>ul>li>div>ul>li a{
	display: block;
}
.showIntro:hover .introduce,.showProducts:hover .products{
	opacity: 1;
	filter: alpha(opacity=100);
}
.nav > ul > li > a{
	line-height: 40px;
	padding: 0 10px;
	text-align: center;
	color: white;
}
.nav > ul > li > a:hover{
	color: white;
	background: #3fbfef;
}
.nav .showIntro,.nav .showProducts{
	position: relative;
}
.introduce,.nav .products{
	position: absolute;
	top: 40px;
	left: 0;
	background: white;
	border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.5);
	box-shadow: 2px 2px 5px rgba(0,0,0,.5);
	z-index: 1000;
	opacity: 0;
	filter: alpha(opacity=0);
}
.introduce{
	padding: 15px 25px;
}
.introList{
	margin-left: -5px;
}
.introList a{
	padding: 5px;
	text-align: center;
	color: #07c;
}
.introList a:hover,.nav .products>ul>li>div>ul a:hover{
	text-decoration: underline;
}
.introImg{
	margin-left: 70px;
	padding-left: 25px;
	border-left: 1px solid #ccc;
}
.introImg p{
	line-height: 20px;
	margin-top: 10px;
	text-align: center;
	color: #666;
}
.nav .products{
	width: 750px;
	padding: 10px;
}
.nav .products ul{
	width: 100%;
	height: 170px;
}
.nav .products>ul>li{
	padding: 2px 5px;
	color: #666;
}
.nav .products>ul>li>div>ul>li:first-child{
	margin-bottom: 5px;
}
.nav .products>ul>li>div>ul>li a{
	padding: 3px 5px;
	color: #666;
}
.nav .products h3 a{
   	color: #07c!important;
}
/*slider*/
.slideBox{
	position: relative;
}
#slideBox{
	overflow: hidden;
}
#slider{
	position: relative;
	top: 0;
	left: calc(-100%);
	left: -moz-calc(-100%);
	left: -webkit-calc(-100%);
	width: 600%;
}
#slider a,#slider a img,.bgImgs{
	float: left;
}
#slider a{
	width: calc(100% / 6);
	width: -moz-calc(100% / 6);
	width: -webkit-calc(100% / 6);
}
.slideArrow{
	display: none;
	width: 100%;
	height: 68px;
	margin-top: -65px;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 100;
}
.slideArrow i{
	display: block;
	padding: 10px;
	background: rgba(0,0,0,0.2);
	text-align: center;
	font-style: normal;
	font-family: arial;
	font-size: 40px;
	color: #fff;
	z-index: 2;
	cursor: pointer;
}
#prev{
	float: left;
}
#next{
	float: right;
}
.bgImgs{
	width: 100%;
	height: 100%;
}
.slideBox:hover .slideArrow{  
	display: block;
}
.slideArrow i:hover{
	background: rgba(0,0,0,0.5);
}
#slideDots{
	width: 80px;
	height: 20px;
	margin: 0 auto;
	cursor:pointer;
}
#slideDots i{
	float: left;
	width: 10px;
	height: 10px;
	background: #333;
	border: 5px solid #FFF;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	/*-webkit-transition: background-color ease-in .3s;
	-moz-transition: background-color ease-in .3s;
	-o-transition: background-color ease-in .3s;
	transition: background-color ease-in .3s;*/
}
#slideDots .focus{
	background: orangered;
}
/*news*/
.news{
	width: 1000px;
	height: 175px;
	margin: 20px auto;
}
.newsHead{
	margin-bottom: 15px;
}
.group-news{
	float: left;
	width: 475px;
}
.product-news{
	float: right;
	width: 475px;
}
.news h2,.hot h2{
	display: inline-block;
	margin-right: 5px;
	font-size: 16px;
}
.newsHead span,.hotHead span{
	color:#888;
}
.news div a{
	float: right;
}
.more{
	padding: 2px 8px;
	border:1px solid #eee;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	background: #ddd;
	color: black;
}
.news ul{
	padding: 10px;
	border: 1px solid #ccc;
}
.news li{
	height: 25px;
}
.news ul li i{
	float: left;
	margin-top: 7px;
	margin-right: 5px;
	border-left: 5px solid #ccc;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}
.news ul li a{
	float:left;
	color:#888;
	line-height: 25px;
}
.news ul li a:hover{
	color: #07c;
}
.news ul li span{
	float: right;
	line-height: 25px;
	color: #aaa;
}		
.more:hover{
	color: #07c;
}
/*hot*/
.hot{
	width: 1000px;
	margin: 0 auto;
}
.hotHead{
	width: 1000px;
	margin: 0 auto;
	padding: 10px 0;
	border-bottom: 1px dotted #ccc;
}
.hotImg{
	margin-top: 20px;
}
.hot ul{
	height: 245px;
}
.hot ul li{
	float: left;
	width: 25%;
}
.hot ul li a{
	display: block;
	width: 205px;
	height: 205px;
	margin: 0 auto;
}
.hot ul li a:hover,.firends-link a:hover{
	transform: translate(0,-20px);
    -webkit-transform: translate(0,-20px);
    -moz-transform: tranlate(0,-20px);
}
.hot ul li a img{
	width: 205px;
	height: 205px;
}
.hot ul li span{
	display: block;
	margin: 10px 0;
	text-align: center;
}
/*firends-link*/
.firends-link{
	width: 1000px;
	margin: 30px auto 50px;
}
.firends-link ul{
	width: 960px;
	height: 175px;
	margin: 0 auto;
}
.firends-link ul li{
	float: left;
	width: 50%;
}
.firends-link ul li a{
	width: 95%;
}
.firends-link ul li a img{
	float: left;
	width: 100%;
}
.store{
	float: left;
}
.cookai{
	float: right;
} 
.firends-link a:hover{
	box-shadow: 10px 10px 8px #888;
	-webkit-box-shadow: 10px 10px 8px #888;
	-moz-box-shadow: 10px 10px 8px #888;
	-o-box-shadow: 10px 10px 8px #888;
}
/*footer*/
.footer{
	height: 20px;
	padding: 25px 0;
	background: #07c;
}
.footerInner{
	width: 1000px;
	height: 20px;
	margin: 0 auto;
}
.footer span{
	display: inline-block;
	line-height: 20px;
	color: white;
}
.footer span:first-child{
	margin-right: 10px;
}
.right ul{
	height: 20px;
	margin-right: 20px;
}
.footer ul li a{
	display: block;
	line-height: 20px;
	padding: 0 5px;
	color: white;
}
.footer ul li a:hover{
	text-decoration: underline;
}
select{
	padding: 0 5px;
	color: #666;
}
option{
	padding: 1px 5px;
	color: #666;
}


